<h2>Show order</h2>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @order.amount %>
  </li>

  <li>
    <strong>Expiry:</strong>
    <%= @order.expiry %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @order.status %>
  </li>

</ul>
