<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CandyShop</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <header class="header">
          <div class="container topmenu">
              <div class="row">
                <div class="column column-20">
                    <span class="logo">CandyShop</span>
                </div>
                <nav role="navigation" class="main-layout-nav">
                    <ul class="main-layout-topmenu">
                        <!-- if logged in, show logout:
                        <li><a href="/session">Logout</a></li>
                        -->
                    </ul>
                </nav>
              </div>

          </div>
        <div class="container usermenu">
            <div class="row">
                <%= active_path_link &marketplace_path(&1, :show), @conn, class: "column" do %>
                    <span class="usermenu-item">Marketplace</span>
                <% end %>
                <%= link to: "/chat", class: "column" do %>
                    <span class="usermenu-item">Chat</span>
                <% end %>
                <%= active_path_link &account_path(&1, :show), @conn, class: "column" do %>
                    <span class="usermenu-item">My Account</span>
                <% end %>
            </div>
        </div>
      </header>

    <div class="container content">
      <%= show_alerts(@conn, [:info, :error]) %>

      <main role="main">
        <!-- # thanks to http://stackoverflow.com/questions/39542831/how-can-i-render-a-child-layout-inside-a-parent-one -->
        <%= render(@view_module, @view_template, if(assigns[:child_layout], do: Map.put(assigns, :layout, @child_layout), else: assigns)) %>
      </main>

    </div> <!-- /container -->

    <footer>
        <div class="container">
            <div class="row">
                <a href="/faq" class="footer-section">
                    FAQ
                </a>
                <a href="/contact" class="footer-section">
                    Contact
                </a>
                <div class="footer-section copyright">
                    <span> © 2016 </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
