<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CandyShop</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <header class="header">
          <div class="container topmenu">
              <div class="row">
                <span class="logo column column-20">CandyShop</span>
                <nav role="navigation" class="main-layout-nav">
                    <ul class="main-layout-topmenu">
                        <!-- if logged in, show logout:
                        <li><a href="/session">Logout</a></li>
                        -->
                    </ul>
                </nav>
              </div>
          </div>
      </header>

    <div class="container content">
      <%= show_alerts(@conn, [:info, :error]) %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-section">
                    <a href="/faq">FAQ</a>
                </div>
                <div class="footer-section">
                    <a href="/contact">Contact</a>
                </div>
                <div class="footer-section">
                    <span class="copyright"> © 2016 </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
