/* This file is for your main application css. */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    flex: 1;
    max-width: 900px;
}

.logo {
    font-size: 3rem;
    padding: 10px 0;
    display: block;
}

header {
    flex: 1;
    max-height: 100px;
    display: flex;
    align-items: center;
}

.topmenu {
    border-bottom: 1px solid #dccaca;
}

.main-layout-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.main-layout-topmenu {
    list-style: none;

    & > li {
        margin-left: 20px;
        display: inline-block;
    }
}

.center-form {
    flex: 0 0 400px;
    margin-top: 2rem;
}

footer {
    max-height: 100px;

    & .row {
        justify-content: center;
    }

    & .footer-section {
        flex: 0 0 100px;;
        padding: 10px;
        border-top: 2px dashed #dccaca;
        text-align: center;
    }

    & .copyright {
        font-size: 1.33rem;
    }
}

.separator {
    width: 100%;
    border-top: 2px solid #DDD;
    margin: 10px 0 15px 0;
}