/* This file is for your main application css. */
@custom-media --small-screen (width <= 500px);

html {
    height: 100%;
    font-size: 10px;
    @media (--small-screen) {
        font-size: 12px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    flex: 1;
    max-width: 900px;
}

.logo {
    font-size: 3rem;
    padding: 10px 0;
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.topmenu {
    & > .row {
        border-bottom: 1px solid #dccaca;
    }
}

.usermenu {
    flex: 0;
    & > .row {
        border-bottom: 1px solid #dccaca;
    }
    & .usermenu-item {
        padding: 8px 4px;
        display: inline-block;
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 1.5rem;
    }

    & .column:not(:last-child) {
        border-right: 1px solid #DDD;
    }

    & .column {
        border-bottom: 2px solid transparent;
        background: #efefef;
        border-color: #d1d1d1;
        color: #818181;

        &:hover {
            background: #DDD;
            color: #666;
            border-color: #bbb;
        }

        &.is-active {
            color: #666;
            background: #eee;
            border-bottom-color: #d48985;
        }
    }
}

.main-layout-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.main-layout-topmenu {
    list-style: none;

    & > li {
        margin-left: 20px;
        display: inline-block;
    }
}

.center-form {
    min-width: 333px;
    flex: 0 0 400px;
    @media (--small-screen) {
        flex: 1;
    }
}

footer {
    max-height: 100px;
    font-size: 1.3rem;

    & .container {
    }

    & .row {
        justify-content: flex-start;
    }

    & a.footer-section {
       /* border-right: 1px dashed #ddd; */
        border-top: 1px dashed #dccaca;
        background: #eee;
        font-weight: bold;

        &:hover {
            border-color: #ae9999;
            background: #dff;
            transition: 0.3s;
        }
    }

    & .footer-section {
        flex: 0 0 100px;
        padding: 10px 20px;
        text-align: center;


        & > a , & > span {
            display: inline-block;
        }

        &.copyright {
            margin-left: auto;
        }
    }

    & .copyright {
        font-size: 1.33rem;
    }
}

.separator {
    width: 100%;
    border-top: 2px solid #DDD;
    margin: 10px 0 15px 0;
}

.menu {
    & ul {
        list-style: none;
    }

    & .menu-list li ul {
        border-left: 1px solid #dbdbdb;
        margin: 10px;
        padding-left: 10px;
    }

    & .menu-label {
        margin: 0 0 4px 0;
        color: #7a7a7a;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    & .menu-list a {
        border-radius: 2px;
        color: #4a4a4a;
        display: block;
        padding: 5px 10px;

        &:hover {
            background-color: whitesmoke;
            color: #11e4c4;
        }

        &.is-active {
            background-color: #11e4c4;
            color: white;
        }

    }
}

a {
    color: #11e4c4;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
}

.account-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marketplace {
    width: 100%;
}

.entities-list {
    & > ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        & > li {
            flex: 1;
        }
    }
}

.entity-card {
    flex: 1;
    display: flex;
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 10px 20px;
    line-height: 1;

    & .entity-card__block {
        flex: 1;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        & > span {
            margin-bottom: auto;            
            font-size: 1.4rem;
            color: #444;
        }

        & > label {
            font-size: 10px; 
            margin-bottom: auto;
            color: #999;
            font-weight: 400;
            font-style: italic;
        }

        &.center-items {
             align-items: center;
        }
    }

    & .card-image {
        flex: 0 0 50px;
    }

    & .card-action-button {
        flex: 0;
        padding: 0 10px;
    }

    & form {
        padding: 0;
        margin: 0;

        & > input[type="submit"] {
            margin: 0;
        }
    }
}



.card-image {
    margin-right: 20px;
    & > img {
    } 
}

/* Product marketplace listing view */
.product-desc {
    font-size: 1.4rem;
}
