/* alerts */
.alert {
    display: block;
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid #dccaca;

    &.alert-danger {
        background: #f2dede; 
        border-color: #ebcccc;
        color: #a94442;
    }

    &.alert-info {
        background: #d9edf7; 
        border-color: #bcdff1;
        color: #31708f;
    }
}

.border-danger {
    border-color: #dc2c2c !important;
}


.help-block {
    font-size: 13px;
    font-weight: bolder;
    color: #dc2c2c;
    display: inline-block;
    &:first-letter {
        text-transform: uppercase;
    }
}

label {
    font-size: 1.4rem;
}

.button.button-success {
    background-color: #96b764;
    border-color: #96b764;
}

.button.button-disabled {
    pointer-events: none;
    background: #999;
    border-color: #999;
}