<div class="center-form">
    <h2>Invite activation</h2>
<%= form_for @changeset, invite_path(@conn, :activate), fn f -> %>
<fieldset>
    <%= label f, :token %>
    <%= text_input f, :token %>
    <%= error_tag f, :token %>
    <%= submit "Activate", class: "button-primary" %>
</fieldset>
<% end %>
</div>
